/* ĐỀ KIỂM TRA BỔ SUNG 
MSSV	: 0306231316
HỌ TÊN	: Do Minh Nhat
MÁY	: 26
*/

-- 01. Tìm tất cả nhân viên (MANV, HONV, TENLOT, TENNV) có tuổi trên 45 và có lương trên 30000
SELECT *
FROM NHANVIEN AS NV
WHERE YEAR(GETDATE())-YEAR(NV.NGSINH)>45 AND LUONG>30000
-- 02. Cho biết họ tên đầy đủ của các nhân viên làm việc tại phòng ban có địa điểm là TP.HCM
SELECT *
FROM NHANVIEN AS NV, DIADIEM_PHG AS DDP
WHERE NV.PHG=DDP.MAPHG AND DDP.DIADIEM LIKE N'TP.HCM'
-- 03. Cho biết tên công việc được phân công cho các nhân viên làm việc ở phòng Nghiên cứu
SELECT TEN_CONG_VIEC
FROM CONGVIEC AS CV, DEAN AS DA
WHERE DA.MADA=CV.MADA AND DA.MADA IN(
	SELECT DA.MADA
	FROM PHONGBAN AS PB,DEAN AS DA 
	WHERE TENPHG LIKE N'NGHIÊN CỨU' AND PB.MAPHG=DA.PHONG
)
-- 04. Cho biết số lượng thân nhân của từng nhân viên
SELECT NV.MANV, COUNT(TN.TENTN) AS 'SO LUONG THAN NHAN'
FROM NHANVIEN AS NV, THANNHAN AS TN
WHERE NV.MANV=TN.MA_NVIEN
GROUP BY NV.MANV
-- 05. Cho biết tên đề án và số lượng công việc của từng đề án đó
SELECT DA.MADA,DA.TENDA, COUNT(CV.TEN_CONG_VIEC) AS 'SO LUONG CV'
FROM DEAN AS DA, CONGVIEC AS CV
WHERE DA.MADA=CV.MADA
GROUP BY DA.MADA,TENDA
-- 06. Cho biết họ tên đầy đủ của các nhân viên tham gia từ 02 đề án trở lên
SELECT PC.MA_NVIEN, NV.HONV, NV.TENLOT, NV.TENNV, COUNT(PC.MADA) AS 'SL DA THAM GIA'
FROM PHANCONG AS PC, NHANVIEN AS NV
WHERE PC.MA_NVIEN=NV.MANV
GROUP BY PC.MA_NVIEN, NV.HONV,NV.TENLOT,NV.TENNV
HAVING COUNT(PC.MADA)>=2
-- 07. Cho biết họ tên đầy đủ của những nhân viên không có thân nhân nào
SELECT NV.MANV,NV.HONV,NV.TENLOT,NV.TENNV
FROM NHANVIEN AS NV
WHERE NV.MANV NOT IN
(
	SELECT NV1.MANV
	FROM NHANVIEN AS NV1, THANNHAN AS TN1
	WHERE NV1.MANV=TN1.MA_NVIEN
)
-- 08. Cho biết những địa điểm đồ án nào có nhân viên phòng điều hành tham gia
SELECT DA.DDIEM_DA
FROM PHONGBAN AS PB, DEAN AS DA
WHERE PB.MAPHG=DA.PHONG AND PB.TENPHG LIKE N'ĐIỀU HÀNH'
-- 09. Cho biết những nhân viên có mức lương cao nhất trong công ty
SELECT *
FROM NHANVIEN AS NV
WHERE NV.LUONG>=ALL
(
	SELECT NV.LUONG
	FROM NHANVIEN AS NV
)


CREATE DATABASE QLDA
GO
USE QLDA
GO
-- CREATE TABLES
CREATE TABLE DEAN
(
	TENDA NVARCHAR(15),
	MADA INT NOT NULL,
	DDIEM_DA NVARCHAR(15) NOT NULL,
	PHONG INT NOT NULL,
	
	PRIMARY KEY (MADA)
)

CREATE TABLE PHONGBAN
(
	TENPHG NVARCHAR(15),
	MAPHG INT NOT NULL,
	TRPHG NVARCHAR(9),
	NG_NHANCHUC DATE,
	
	PRIMARY KEY (MAPHG)
)

CREATE TABLE DIADIEM_PHG
(
	MAPHG INT NOT NULL,
	DIADIEM NVARCHAR(15),
	
	PRIMARY KEY (MAPHG, DIADIEM)
)

CREATE TABLE NHANVIEN
(
	HONV NVARCHAR(15),
	TENLOT NVARCHAR(15),
	TENNV NVARCHAR(15),
	MANV NVARCHAR(9) NOT NULL,
	NGSINH DATE,
	DCHI NVARCHAR(30),
	PHAI NVARCHAR(3),
	LUONG FLOAT,
	MA_NQL NVARCHAR(9),
	PHG INT NOT NULL,
	
	PRIMARY KEY (MANV)
)

CREATE TABLE THANNHAN
(
	MA_NVIEN NVARCHAR(9) NOT NULL,
	TENTN NVARCHAR(15),
	PHAI NVARCHAR(3),
	NGSINH DATE,
	QUANHE NVARCHAR(15),
	
	PRIMARY KEY (MA_NVIEN, TENTN)
)

CREATE TABLE CONGVIEC
(
	MADA INT NOT NULL,
	STT INT NOT NULL,
	TEN_CONG_VIEC NVARCHAR(50),
	
	PRIMARY KEY (MADA, STT)
)

CREATE TABLE PHANCONG
(
	MA_NVIEN NVARCHAR(9) NOT NULL,
	MADA INT NOT NULL,
	STT INT NOT NULL,
	THOIGIAN FLOAT,
	
	PRIMARY KEY (MA_NVIEN, MADA, STT)
)

-- Cài đặt ràng buộc khóa ngoại cho các bảng 
ALTER TABLE DEAN
ADD CONSTRAINT FK_DEAN_PHONG
FOREIGN KEY (PHONG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE PHONGBAN
ADD CONSTRAINT FK_PHONGBAN_NHANVIEN
FOREIGN KEY (TRPHG)
REFERENCES NHANVIEN (MANV)

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT FK_DIADIEM_PHG_PHONGBAN
FOREIGN KEY (MAPHG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE CONGVIEC
ADD CONSTRAINT FK_CONGVIEC_DEAN
FOREIGN KEY (MADA)
REFERENCES DEAN (MADA)

ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NHANVIEN_PHONGBAN
FOREIGN KEY (PHG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NHANVIEN_NHANVIEN
FOREIGN KEY (MA_NQL)
REFERENCES NHANVIEN (MANV)


ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_DEAN
FOREIGN KEY (MADA)
REFERENCES DEAN (MADA)

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_NHANVIEN
FOREIGN KEY (MA_NVIEN)
REFERENCES NHANVIEN (MANV)

ALTER TABLE THANNHAN
ADD CONSTRAINT FK_THANNHAN_NHANVIEN
FOREIGN KEY (MA_NVIEN)
REFERENCES NHANVIEN (MANV)


BEGIN /** NHANVIEN **/

ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT ALL 

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Đinh', N'Bá', N'Tiến', '009', '02/11/1960', N'119, Cống Quỳnh, TP.HCM', N'Nam', 30000, '005', 5)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Nguyễn', N'Thanh', N'Tùng', '005', '08/20/1962', N'222, Nguyễn Văn Cừ, TP.HCM', N'Nam', 40000, '006', 5)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Bùi', N'Ngọc', N'Hằng', '007', '03/11/1954', N'332, Nguyễn Thái Học, TP.HCM', N'Nam', 25000, '001', 4)







ALTER TABLE NHANVIEN
CHECK CONSTRAINT ALL

END

BEGIN /** PHONGBAN **/

ALTER TABLE PHONGBAN
NOCHECK CONSTRAINT ALL

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Nghiên cứu', 5, '005', '05/22/1978')

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Điều hành', 4, '008', '01/01/1985')

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Quản lý', 1, '006', '06/19/1971')

ALTER TABLE PHONGBAN
CHECK CONSTRAINT ALL

END

BEGIN /** DEAN **/

ALTER TABLE DEAN
NOCHECK CONSTRAINT ALL

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm X', 1, N'Vũng Tàu', 5)

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm Y', 2, N'Nha Trang', 5)

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm Z', 3, N'TP.HCM', 5)




ALTER TABLE DEAN
CHECK CONSTRAINT ALL

END

BEGIN /** THANNHAN **/

ALTER TABLE THANNHAN
NOCHECK CONSTRAINT ALL

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Trinh', N'Nữ', '04/05/1976', N'Con gái')

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Khang', N'Nam', '10/25/1973', N'Con trai')

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Phương', N'Nữ', '05/03/1948', N'Vợ chồng')






ALTER TABLE THANNHAN
CHECK CONSTRAINT ALL

END

BEGIN /** DIADIEM_PHG **/

ALTER TABLE DIADIEM_PHG
NOCHECK CONSTRAINT ALL

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (1, N'TP.HCM')

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (4, N'Hà Nội')

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (5, N'Vũng Tàu')



ALTER TABLE DIADIEM_PHG
CHECK CONSTRAINT ALL

END

BEGIN /** PHANCONG **/

ALTER TABLE PHANCONG
NOCHECK CONSTRAINT ALL

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('009', 1, 1, 32)

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('009', 2, 2, 8)

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('004', 3, 1, 40)














ALTER TABLE PHANCONG
CHECK CONSTRAINT ALL

END

BEGIN /** CONGVIEC **/

ALTER TABLE CONGVIEC
NOCHECK CONSTRAINT ALL

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (1, 1, N'Thiết kế sản phẩm X')

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (1, 2, N'Thử nghiệm sản phẩm X')

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (2, 1, N'Sản xuất sản phẩm Y')









ALTER TABLE CONGVIEC
CHECK CONSTRAINT ALL

END